.popup__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #E9F1FF;
    margin: 0;
    max-width: 461px;
    text-align: left;
}

@media screen and (max-width: 500px) {
    .popup__subtitle {
        font-size: 18px;
        line-height: 30px;
        max-width: 247px;
    }
}