.about-us {
    padding: 0 201px 0 198px;
}

@media screen and (max-width: 1360px) {
    .about-us {
        padding: 0 100px 0 100px;
    }
}

@media screen and (max-width: 900px) {
    .about-us {
        padding: 0 50px 0 50px;
    }
}

@media screen and (max-width: 710px) {
    .about-us {
        padding: 0;
    }
}