.about-us__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 710px) {
    .about-us__title {
        font-size: 40px;
        margin-top: 136px;
    }
}