.move__button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
    color: #010F29;
    background: linear-gradient(143.05deg, #FCA82D 20.13%, #EFC449 85.02%);
    box-shadow: 0px 11px 20px rgba(2, 2, 2, 0.261637);
    backdrop-filter: blur(13.5914px);
    border-radius: 30.5px;
    padding: 15px 51px 14px 51px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 710px) {
    .move__button {
        padding: 10px 25px 14px 25px;
    }
}