.chart__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 710px) {
    .chart__title {
        font-size: 40px;
        line-height: 36px;
    }
}